@charset "UTF-8";

/* 
    Verde: #49a09d
    Lilás: #5f2c82
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 80vw;
        height: 280px;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: bottom right;
    }

    #formulario {
        float: right;
        width: 70%;
    }

    .campo {
        margin: 10px 0;
    }

    form input[type=submit]:hover {
        transform: scale(1.04);
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 990px;
        height: 280px;
    }

    #imagem {
        float: right;
        width: 40%;
        height: 100%;
        background-position: bottom right;
    }

    #formulario {
        float: left;
        width: 60%;
    }

    #formulario h1 {
        font-size: 1.8em;
    }

    #formulario p {
        font-size: 1.1em;
    }

    form input[type=submit]:hover {
        transform: scale(1.03);
    }
}